nav.navbar-main
  ul.navbar-main__list
    li.navbar-main__link(class=(dashboard?"navbar-main__link_active":""))
      a(src="/dashboard") dashboard
    li.navbar-main__link(class=(node || nodes ?"navbar-main__link_active":""))
      a(src="/")  nodes
    li.navbar-main__link
      a(src="#")  ???
    li.box-img-usuario
      span= user.groups.includes("admin") ? "#" : "$"
      span= user.name
      img(src="/img/psyduck.jpg", alt="avatar")
