nav.navbar-main
  ul.navbar-main__list
    li.navbar-main__link.navbar-main__link_active Code
    li.navbar-main__link  Commits
    li.navbar-main__link  MRs
    li.navbar-main__link Branchs
    li.box-img-usuario
      span= user.groups.includes("admin") ? "#" : "$"
      span= user.name
      img(src="/img/psyduck.jpg", alt="avatar")
