
extends ../layouts/main.pug

block main
  section.section
    nav.navbar__section
      span jackwui / add new Node
    form(method="POST", action="/addNode")
      fillset
        input(type="text", name="name", placeholder="name")
        input(type="text", name="uri", placeholder="uri")
        input(type="text", name="user", placeholder="user")
        input(type="password", name="password", placeholder="password")
      input(type="submit", value="agregar")




