
extends ../layouts/main.pug

block main
  section.section
    nav.navbar__section
      span jackwui
    if ( nodes.length > 0)
      table
        thead
          tr
            td node Name
            td actions
        each node in nodes
          tbody
            tr
              td
                a(src=`/nodes/${node._id}`)= node.name
              td
                a edit
                a delete
    else
      p Not nodes configured.

    a(href="/addnode") Add new node!
