
extends ../layouts/main.pug

block main
  section.section
    nav.navbar__section
      span jackwui
    if (servers && servers.lenght >0)
      each server in servers
         h2= server.name
    else
      p Not servers configured.

    a(href="/addServer") Add new Server!

