
extends ../layouts/main.pug

block main
  section.section
    nav.navbar__section
      b jackwui
      span /
      a(href="/") nodes
      span /
      a(href=`/node/${node.name}`)= node.name
      span /
      b connections

    pre= JSON.stringify(connections)


